<% content_for :content do %>
	<h3> My Friends</h3>
	<%if obj.size > 0 %>
		<div class="row-lg-8">
			<ul class="list-group">
				<% obj.each do |frnd|%>
					  <li class="list-group-item"><%=link_to frnd.fullName , "#" %></li>
				<% end %>
			</ul>
		</div>
	<% else %>
		<div class="col-lg-8" style="color: red">
				<p>You don't have any friend yet. Please add some.</p>
		</div>
	<% end %>
<% end %>

<h3> Search friend</h3>
<div class="row">
	<div class="col-sl-12">
		<%= render 'friends/search_friends'%>
		<div id="results">
			<%= render 'users/result'%>	
		</div>
	</div>
</div>
<h3>Friend Suggestion</h3>
<div class="row col-sm-12">
	<% User.all.each do |frnd|%>
		<%if frnd != current_user%>
		<div class="well col-md-3 padclass">
			<b><i class="fa fa-user"></i> <br /><%= frnd.fullName%></b>
			<br />
			<% if obj.size > 0 && obj.include?(frnd) %>
				<button type="button" class="btn btn-xs btn-default disabled"><i class="fa fa-user-plus"></i> &nbsp;Aleard Friends</button>
			<% else %>
				<%=link_to add_friends_path(user: current_user, friend: frnd), method: :post do %><button type="button" class="btn btn-xs btn-success"><i class="fa fa-user-plus"></i> &nbsp;Add As Friend</button><% end %>
			<% end %>
		</div>
		<% end %>
	<% end %>
	</div>
