<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "StockManagement" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>


    <%= javascript_include_tag "application" %>

  </head>
  <body>

    <div class="navbar navbar-default">
      <div class="containt">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path do %><b class="navbar-brand " style="color: black;"><i class="fa fa-bar-chart" aria-hidden="true" ></i> Stock&nbsp;&nbsp;Management</b><% end %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
        <% if logged_in?%>
			<ul class="nav navbar-nav">
				<li>
					<a href="#"></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right col-md-2">
				<li>
					<h4> 
						<%if imgae_exist? %>
							<%= image_tag(current_user.images.last.picture.url, size: "30x30") if current_user.images.last.picture? %>
						<% else %>
							<%= image_tag("default.jpg", size: "30x30")%>
						<% end %>
					<%= current_user.fullName%>
					</h4>
				</li>
				<li class="dropdown" style="padding-left: 20px;">
					<h4><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="caret"></span></a>
					<ul class="dropdown-menu" style="background-color: #cccccc;">
						<li>
							<%= link_to "Portfolio", my_portfolio_path%>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<%= link_to "Settings", settings_path%>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						</li>
					</ul></h4>
				</li>
				<!-- <li class="col-md-4"></li> -->
			</ul>
		<% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-md-4">
        	<div id="content"><%= content_for?(:content) ? yield(:content) : "" %></div>
		</div>
      </div><!--/row-->
	
      <!-- <footer>
        <p>&copy; Company 2019</p>
      </footer> -->

    </div> <!-- /container -->

  </body>
</html>
